{% extends 'base_layout.html' %}
{% block css %}
    <style>
        .btn-container {
            text-align: center;
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block conent %}
    <div class="btn-container">
        <input id="redirectTo" type="button">redirectTo</input>
    </div>
    <div class="btn-container">
        <input id="navigateTo" type="button">navigateTo</input>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/threesomeHtml/dist/threesome-sdk.js"></script>
    <script>
        function init() {
            var redirect = document.getElementById('redirectTo');
            redirect.addEventListener("click", function(){
                console.log("click redirectTo");
                threesome.redirectTo({
                    url: 'http://www.baidu.com'
                })
            }, false);
            var navigate = document.getElementById('navigateTo');
            navigate.addEventListener("click", function(){
                console.log("click navigateTo");
                threesome.redirectTo({
                    url: 'http://www.baidu.com'
                })
            }, false);
        }

        threesome.ready(function () {
            init();
        });
    </script>
{% endblock %}