{% extends 'base_layout.html' %}
{% block css %}
{% endblock %}
{% block conent %}
<div class="btn-group btn-group-vertical">
    <button id="redirect" type="button" class="btn btn-default btn-lg">
        redirectTo
    </button>
    <button id="navigate" type="button" class="btn btn-default btn-lg">
        navigateTo
    </button>
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/threesomeHtml/dist/threesome-sdk-0.0.1.build.js" charset="utf-8"></script>
    <script>

        function init() {
            $('#redirect').click(function () {
                threesome.redirectTo({
                    url: 'http://www.baidu.com'
                });
            });
            $('#navigate').click(function () {
                threesome.navigateTo({
                    url: 'http://www.baidu.com'
                })
            });
        }

        threesome.ready(function () {
            init();
        });
    </script>
{% endblock %}
